<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Kalinich_Surprise>
            <version>0.0.1</version>
        </Kalinich_Surprise>
    </modules>
    <frontend>
        <routers>
            <kalinich_surprise>
                <use>standard</use>
                <args>
                    <module>Kalinich_Surprise</module>
                    <frontName>surprise</frontName>
                </args>
            </kalinich_surprise>
        </routers>
    </frontend>
    <global>
        <helpers>
            <kalinich_surprise>
                <class>Kalinich_Surprise_Helper</class>
            </kalinich_surprise>
        </helpers>
        <blocks>
            <kalinich_surprise>
                <class>Kalinich_Surprise_Block</class>
            </kalinich_surprise>
        </blocks>
        <models>
            <kalinich_surprise>
                <class>Kalinich_Surprise_Model</class>
                <resourceModel>kalinich_surprise_resource</resourceModel>
            </kalinich_surprise>
            <kalinich_surprise_resource>
                <class>Kalinich_Surprise_Model_Resource</class>
                <entities>
                    <surprise>
                        <table>kalinich_surprise</table>
                    </surprise>
                </entities>
            </kalinich_surprise_resource>
        </models>
        <resources>
            <kalinich_surprise_setup>
                <setup>
                    <module>Kalinich_Surprise</module>
                </setup>
            </kalinich_surprise_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kalinich_surprise before="Mage_Adminhtml">Kalinich_Surprise_Adminhtml</kalinich_surprise>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kalinich_surprise>
                    <file>kalinich_surprise.xml</file>
                </kalinich_surprise>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <kalinich_surprise_save_data>
                        <type>singleton</type>
                        <class>Kalinich_Surprise_Model_Observer</class>
                        <method>saveProductSurpriseData</method>
                    </kalinich_surprise_save_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>