<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Kalinich_Surprise>
            <version>0.0.2</version>
        </Kalinich_Surprise>
    </modules>
    <frontend>
        <routers>
            <kalinich_surprise>
                <use>standard</use>
                <args>
                    <module>Kalinich_Surprise</module>
                    <frontName>surprise</frontName>
                </args>
            </kalinich_surprise>
        </routers>
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <kalinich_surprise_add_surprise>
                        <type>model</type>
                        <class>Kalinich_Surprise_Model_ObserverCheckOut</class>
                        <method>addSurpriseToCart</method>
                    </kalinich_surprise_add_surprise>
                </observers>
            </checkout_cart_add_product_complete>

            <sales_quote_add_item>
                <observers>
                    <kalinich_surprise_update_price_surprise>
                        <type>model</type>
                        <class>Kalinich_Surprise_Model_ObserverCheckOut</class>
                        <method>updateCartPrice</method>
                    </kalinich_surprise_update_price_surprise>
                </observers>
            </sales_quote_add_item>

            <sales_quote_collect_totals_after>
                <observers>
                    <kalinich_surprise_update_sales>
                        <type>model</type>
                        <class>Kalinich_Surprise_Model_ObserverCheckOut</class>
                        <method>upDataSurprise</method>
                    </kalinich_surprise_update_sales>
                </observers>
            </sales_quote_collect_totals_after>
        </events>
    </frontend>
    <global>
        <helpers>
            <kalinich_surprise>
                <class>Kalinich_Surprise_Helper</class>
            </kalinich_surprise>
        </helpers>
        <blocks>
            <kalinich_surprise>
                <class>Kalinich_Surprise_Block</class>
            </kalinich_surprise>

            <checkout>
                <rewrite>
                    <cart_item_renderer>Kalinich_Surprise_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>



        </blocks>
        <models>
            <kalinich_surprise>
                <class>Kalinich_Surprise_Model</class>
                <resourceModel>kalinich_surprise_resource</resourceModel>
            </kalinich_surprise>
            <kalinich_surprise_resource>
                <class>Kalinich_Surprise_Model_Resource</class>
                <entities>
                    <surprise>
                        <table>kalinich_surprise</table>
                    </surprise>
                </entities>
            </kalinich_surprise_resource>
        </models>
        <resources>
            <kalinich_surprise_setup>
                <setup>
                    <module>Kalinich_Surprise</module>
                </setup>
            </kalinich_surprise_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kalinich_surprise before="Mage_Adminhtml">Kalinich_Surprise_Adminhtml</kalinich_surprise>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kalinich_surprise>
                    <file>kalinich_surprise.xml</file>
                </kalinich_surprise>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <kalinich_surprise_save_data>
                        <type>singleton</type>
                        <class>Kalinich_Surprise_Model_Observer</class>
                        <method>saveProductSurpriseData</method>
                    </kalinich_surprise_save_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>